/* Hishjam Protof's Personal Website */

/* body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
} */


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: url('./assets/castle.png') center top / cover no-repeat fixed;
  color: white;
  overflow-x: hidden;
  position: relative;
  backdrop-filter: brightness(0.9) blur(1px);
  min-height: 100vh;
  background-color: black; 
}




.rain {
  background-image: url('./assets/rain.png');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  animation: rain-animation 0.765s linear infinite;
}

@keyframes rain-animation {
  from { background-position: 0 0; }
  to { background-position: 20% 100%; }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
}

.left {
  flex: 1;
  text-align: center;
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6c5ce7;
}

.right {
  line-height: 1;
  flex: 2;
  padding: 20px 40px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-top: -10px;
}

.highlight {
  color: #6c5ce7;
}

.highlight-secondary {
  color: #a29bfe;
}

.bio {
  font-size: 1.2em;
  max-width: 640px;
  margin: 20px 0;
  line-height: 1.4;
}
.social-icons {
  margin: 20px 0;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 2px solid #6c5ce7; 
    font-size: 32px;
    border-radius: 50%;
    margin: 2rem 1rem 0 0;
    transition: 0.3s ease;
    color: #6c5ce7;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.2) translateY(-4px);
    background-color: #6c5ce7;
    box-shadow: 0 0 12px #6c5ce7;
}



.contact-button {
  display: inline-block;
  margin-top: 2px;
  padding: 14px 52px;
  background-color: #6c5ce7;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: background 0.3s ease;
}

.contact-button:hover {
  background-color: #5a4dd1;
}


.typing {
  position: relative;
  font-weight: bold;
  font-size: 1.2em; 
  color: #6c5ce7;
  display: inline-block;
  min-width: 560px; 
}

.typing::after {
  content: "Developer";
  animation: words 10s steps(1, end) infinite, cursor 0.7s steps(1) infinite;
  padding-left: 8px;
  border-right: 3px solid #6c5ce7; 
  white-space: nowrap;
}

@keyframes cursor {
  0%, 100% { border-color: #6c5ce7; }
  50% { border-color: transparent; }
}

@keyframes words {
  0%, 20% {
    content: "Developer                  ";
  }
  21%, 40% {
    content: "Machine Learning Explorer";
  }
  41%, 60% {
    content: "Web Dev.                 ";
  }
  61%, 80% {
    content: "Data Science Learner";
  }
  81%, 100% {
    content: "Cybersecurity Curious";
  }
}


